
    <!-- Footer Section Start -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <ul>
                <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="https://twitter.com/Zil_Bazil" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"  target="_blank"></i></a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/basil-mawejje-83844a159/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <p>All copyrights reserved &copy; 2019 - Designed & Developed by Basil Kabe</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-arrow-up"></i>
    </a>
